/*--------------------------------------------------- General ------------------------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #023047;
  }
  
  a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 500ms;
  }
  
  a:hover{
    color:#2a9d8f;
  }
  
  body {
    background-color: #8ecae64a;
    min-width: 340px;
  }

  .main{
    display: flex;
    flex-flow: column wrap;
  }
  
  /*? Paleta colores */
  /* ?
  ? azul clarito #8ecae6 
  ? azul #219ebc
  ? azul verdoso #2a9d8f
  ? azul tirando a negro #023047
  ? amarillo #ffb703
  ? naranja #fb8500 */