.register {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    align-self: center;
    margin-top: 30px;
}

.register h1, .register p{
    text-align: center;
}

.register form{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px;
}

.register form input[placeholder]{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #ffe6a8;
}

.register input[type="submit"]{
    width: 80px;
    padding: 10px;
    background-color: #fb8500;
}

.goToRegister {
    margin-top:50px;
    align-self: flex-end;
}

// Clouds
.register .cloud1 {
    top: 50px;
    left: 50px;
}

.register .cloud2 {
    top: 320px;
    right: 50px;
}

.register .cloud3 {
    top: 500px;
    left: 50px;
}